.movie-tile{
  max-width: 200px;
  position: relative;
  .actions{
    position: absolute;
    top: 10px;
    right:10px;
    [class*="icon-"]{
      cursor: pointer;
      &:hover{
        transform: scale(1.1);
      }
      &:before{
        font-size: 30px;
        color: white;
      }
    }
  }
  .title{
    color: white;
  }
  .desc{
    display: -webkit-box;
    max-width: 100%;
    -webkit-box-orient: vertical;
    color: #CECECE;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
}