//placeholders
%center {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

%centerFlex {
  align-items: center;
  justify-content: center;
}

%flexCol {
  display: flex;
  flex-direction: column;
}

//vars
:root {
  //colors
  --white-primary: #f1f1f1;
  --black-primary: #0C070F;
  --green-primary: #459779;
  --grey-primary: #343434;
  --grey-light-primary: #343434;
  --yellow-primary: #EAE151;
  --silver-primary: #666666;
  --dark-blue: #191F24;
}

.input-custom {
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  text-decoration: none;
  padding: 15px 45px;
  text-align: center;
  border-radius: 7px;

  &.home-textarea {
    text-align: left;
    padding: 15px;
  }

  &[type="date"] {
    padding: 15px;
    border: none;
  }

  &:focus, &:active {
    outline: 0;
  }
}

//Buttons
.btn {
  display: block;
  border: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  background-image: linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%);
  padding: 15px 45px;
  text-align: center;
  background-size: 200% auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  border-radius: 7px;
  color: white;
  text-transform: uppercase;
  transition: 0.5s;

  &.small {
    font-size: 14px;
    padding: 10px 20px;
    margin: 0 auto;
  }

  &:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:focus {
    outline: none;
  }

  &:active {
    padding: 0;
  }
}

//Other
html, body {
  font-family: 'Lato', sans-serif;
}

body {
  margin-left: 100px;
  @media (max-width: 768px){
    margin-left: 0;
  }
  background-color: #191F24;
}

.page-title {

  display: inline-block;
  color: white;
  margin-bottom: 40px;

  &:before {
    content: "";

    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: var(--yellow-primary);
    transform: translateY(-6px);
    margin-right: 10px;
  }
}

.link {
  cursor: pointer;
  font-size: 14px;
  color: #657ED4;
  text-decoration: underline;
}